<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付宝登录</title>
</head>

<body>
    <button id="test"> getAuthCode </button>
</body>
<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.min.js"> </script>

<script>
    document.querySelector('#test').addEventListener('click', function () {
        console.log('click');
        console.log('ap', ap);
        ap.getAuthCode({
            appId: '2021003186676826',
            scopes: ['auth_user'],
        }, function (res) {
            ap.alert(JSON.stringify(res));
        });
    });
</script>

</html>